/* colores */
$color-principal:#131416;
$color-secundario:#0661be;
$color-claro:#ffffff;
$color-fondo-dos:#f5f9fc;
$color-fondo-uno:#e2ebf4;
/*fuentes*/
$Fuente-principal: 'Overpass', sans-serif;
/* grosor-fuente */
$principal-l:100;
$principal-m:400;
$principal-b:700;
/* espacio-seguro */
$contenedor-spacio: 140rem;
$contenedor: 120rem;
/* transform */
$text-mayus: uppercase;