*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;/* <--- <> 10px*/
    /* scroll-snap-type: y mandatory; */
}
body{
    font-size: 16px;
    font-family:$Fuente-principal;
    /* background-color: $color-claro;
    border: 1px solid red; */
}
h1,h2,h3,h4,p,span,a{
    color:$color-principal;
}

/* h1,h2{
    text-align: center;
} */
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3.4rem;
}
p{
    font-size: 1.9rem;
}
a{
    text-decoration: none;
    text-transform: $text-mayus;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}

.boton{
    margin-top: 1rem;
    border: 1px solid $color-secundario;
    background-color: $color-fondo-dos;
    color: $color-secundario;
    text-transform: $text-mayus;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    font-weight: $principal-m;
    &--optional{
        border: none;
        background-color: $color-claro;
        font-size: 1.6rem;
        font-weight: $principal-m;
    }
    &--optional-2{
        background-color: $color-secundario;
        border: 1px solid $color-claro;
        color: $color-claro;
    }
    
}

